@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,400;1,500&display=swap');
* .poppins-thin {
      font-family: "Poppins", system-ui;
      font-weight: 100;
      font-style: normal;
    }
    
    .poppins-light {
      font-family: "Poppins", system-ui;
      font-weight: 300;
      font-style: normal;
    }
    
    .poppins-regular {
      font-family: "Poppins", system-ui;
      font-weight: 400;
      font-style: normal;
    }
    
    .poppins-medium {
      font-family: "Poppins", system-ui;
      font-weight: 500;
      font-style: normal;
    }
    
    .poppins-regular-italic {
      font-family: "Poppins", system-ui;
      font-weight: 400;
      font-style: italic;
    }
    
    .poppins-medium-italic {
      font-family: "Poppins", system-ui;
      font-weight: 500;
      font-style: italic;
    }

    #home {
      background-image: url("./asset/Ilustrasion.svg");
    }